In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('anime.csv')

In [3]:
df

,name,height,category,subcat1,subcat2,extras
0,Gintoki Sakata,177.0,fictional,Gintama THE FINAL,anime,"{'Birthday': 'Oct 10', 'Age': '27', 'Gender': ..."
1,Shinpachi Shimura,166.0,fictional,Gintama THE FINAL,anime,"{'Birthday': 'Aug 12', 'Age': '16-18', 'Gender..."
2,Kagura,155.0,fictional,Gintama THE FINAL,anime,"{'Birthday': 'Nov 3', 'Age': nan, 'Gender': 'F..."
3,Shinsuke Takasugi,170.0,fictional,Gintama THE FINAL,anime,"{'Birthday': 'Aug 10', 'Age': '20s', 'Gender':..."
4,Kotarou Katsura,175.0,fictional,Gintama THE FINAL,anime,"{'Birthday': 'Jun 26', 'Age': '20s', 'Gender':..."
...,...,...,...,...,...,...
1632,Hikari Kohinata,148.0,fictional,Amanchu Yakusoku no Natsu to Atarashii Omoide ...,anime,"{'Birthday': 'Jan 31', 'Age': '15', 'Gender': ..."
1633,Mine,155.0,fictional,Akame ga Kill,anime,"{'Birthday': nan, 'Age': nan, 'Gender': 'Femal..."
1634,Esdeath,170.0,fictional,Akame ga Kill,anime,"{'Birthday': nan, 'Age': '20', 'Gender': 'Fema..."
1635,Cornelia,168.0,fictional,Akame ga Kill,anime,"{'Birthday': nan, 'Age': nan, 'Gender': 'Femal..."
1636,Najasho,162.0,fictional,Akame ga Kill,anime,"{'Birthday': nan, 'Age': nan, 'Gender': 'Male'..."

In [4]:
df['swap'] = df['subcat1']
df['swap2'] = df['subcat2']
df['subcat1'] = df['swap2']
df['subcat2'] = df['swap']

In [5]:
df

,name,height,category,subcat1,subcat2,extras,swap,swap2
0,Gintoki Sakata,177.0,fictional,anime,Gintama THE FINAL,"{'Birthday': 'Oct 10', 'Age': '27', 'Gender': ...",Gintama THE FINAL,anime
1,Shinpachi Shimura,166.0,fictional,anime,Gintama THE FINAL,"{'Birthday': 'Aug 12', 'Age': '16-18', 'Gender...",Gintama THE FINAL,anime
2,Kagura,155.0,fictional,anime,Gintama THE FINAL,"{'Birthday': 'Nov 3', 'Age': nan, 'Gender': 'F...",Gintama THE FINAL,anime
3,Shinsuke Takasugi,170.0,fictional,anime,Gintama THE FINAL,"{'Birthday': 'Aug 10', 'Age': '20s', 'Gender':...",Gintama THE FINAL,anime
4,Kotarou Katsura,175.0,fictional,anime,Gintama THE FINAL,"{'Birthday': 'Jun 26', 'Age': '20s', 'Gender':...",Gintama THE FINAL,anime
...,...,...,...,...,...,...,...,...
1632,Hikari Kohinata,148.0,fictional,anime,Amanchu Yakusoku no Natsu to Atarashii Omoide ...,"{'Birthday': 'Jan 31', 'Age': '15', 'Gender': ...",Amanchu Yakusoku no Natsu to Atarashii Omoide ...,anime
1633,Mine,155.0,fictional,anime,Akame ga Kill,"{'Birthday': nan, 'Age': nan, 'Gender': 'Femal...",Akame ga Kill,anime
1634,Esdeath,170.0,fictional,anime,Akame ga Kill,"{'Birthday': nan, 'Age': '20', 'Gender': 'Fema...",Akame ga Kill,anime
1635,Cornelia,168.0,fictional,anime,Akame ga Kill,"{'Birthday': nan, 'Age': nan, 'Gender': 'Femal...",Akame ga Kill,anime
1636,Najasho,162.0,fictional,anime,Akame ga Kill,"{'Birthday': nan, 'Age': nan, 'Gender': 'Male'...",Akame ga Kill,anime

In [6]:
df.drop(columns=['swap', 'swap2'], inplace=True)

In [25]:
df.drop_duplicates(subset='name')

,name,height,category,subcat1,subcat2,extras
0,Gintoki Sakata,177.0,fictional,anime,Gintama THE FINAL,"{'Birthday': 'Oct 10', 'Age': '27', 'Gender': ..."
1,Shinpachi Shimura,166.0,fictional,anime,Gintama THE FINAL,"{'Birthday': 'Aug 12', 'Age': '16-18', 'Gender..."
2,Kagura,155.0,fictional,anime,Gintama THE FINAL,"{'Birthday': 'Nov 3', 'Age': nan, 'Gender': 'F..."
3,Shinsuke Takasugi,170.0,fictional,anime,Gintama THE FINAL,"{'Birthday': 'Aug 10', 'Age': '20s', 'Gender':..."
4,Kotarou Katsura,175.0,fictional,anime,Gintama THE FINAL,"{'Birthday': 'Jun 26', 'Age': '20s', 'Gender':..."
...,...,...,...,...,...,...
1632,Hikari Kohinata,148.0,fictional,anime,Amanchu Yakusoku no Natsu to Atarashii Omoide ...,"{'Birthday': 'Jan 31', 'Age': '15', 'Gender': ..."
1633,Mine,155.0,fictional,anime,Akame ga Kill,"{'Birthday': nan, 'Age': nan, 'Gender': 'Femal..."
1634,Esdeath,170.0,fictional,anime,Akame ga Kill,"{'Birthday': nan, 'Age': '20', 'Gender': 'Fema..."
1635,Cornelia,168.0,fictional,anime,Akame ga Kill,"{'Birthday': nan, 'Age': nan, 'Gender': 'Femal..."
1636,Najasho,162.0,fictional,anime,Akame ga Kill,"{'Birthday': nan, 'Age': nan, 'Gender': 'Male'..."

In [26]:
df

,name,height,category,subcat1,subcat2,extras
0,Gintoki Sakata,177.0,fictional,anime,Gintama THE FINAL,"{'Birthday': 'Oct 10', 'Age': '27', 'Gender': ..."
1,Shinpachi Shimura,166.0,fictional,anime,Gintama THE FINAL,"{'Birthday': 'Aug 12', 'Age': '16-18', 'Gender..."
2,Kagura,155.0,fictional,anime,Gintama THE FINAL,"{'Birthday': 'Nov 3', 'Age': nan, 'Gender': 'F..."
3,Shinsuke Takasugi,170.0,fictional,anime,Gintama THE FINAL,"{'Birthday': 'Aug 10', 'Age': '20s', 'Gender':..."
4,Kotarou Katsura,175.0,fictional,anime,Gintama THE FINAL,"{'Birthday': 'Jun 26', 'Age': '20s', 'Gender':..."
...,...,...,...,...,...,...
1632,Hikari Kohinata,148.0,fictional,anime,Amanchu Yakusoku no Natsu to Atarashii Omoide ...,"{'Birthday': 'Jan 31', 'Age': '15', 'Gender': ..."
1633,Mine,155.0,fictional,anime,Akame ga Kill,"{'Birthday': nan, 'Age': nan, 'Gender': 'Femal..."
1634,Esdeath,170.0,fictional,anime,Akame ga Kill,"{'Birthday': nan, 'Age': '20', 'Gender': 'Fema..."
1635,Cornelia,168.0,fictional,anime,Akame ga Kill,"{'Birthday': nan, 'Age': nan, 'Gender': 'Femal..."
1636,Najasho,162.0,fictional,anime,Akame ga Kill,"{'Birthday': nan, 'Age': nan, 'Gender': 'Male'..."

In [40]:
df.to_csv('animeready.csv', index=False)

In [32]:
df1 = pd.read_csv('final.csv')

In [33]:
df1['swap'] = df1['subcat1']
df1['swap2'] = df1['subcat2']
df1['subcat1'] = df1['swap2']
df1['subcat2'] = df1['swap']
df1.drop(columns=['swap', 'swap2'], inplace=True)

In [39]:
df1.to_csv('ANIME2READYTOMERGE.csv', index=False)

In [36]:
mergeddf = pd.merge(on='name', left=df, right=df1, how='outer')

In [37]:
mergeddf

,name,height_x,category_x,subcat1_x,subcat2_x,extras_x,height_y,category_y,subcat1_y,subcat2_y,extras_y
0,Gintoki Sakata,177.0,fictional,anime,Gintama THE FINAL,"{'Birthday': 'Oct 10', 'Age': '27', 'Gender': ...",NaN,NaN,NaN,NaN,NaN
1,Shinpachi Shimura,166.0,fictional,anime,Gintama THE FINAL,"{'Birthday': 'Aug 12', 'Age': '16-18', 'Gender...",NaN,NaN,NaN,NaN,NaN
2,Kagura,155.0,fictional,anime,Gintama THE FINAL,"{'Birthday': 'Nov 3', 'Age': nan, 'Gender': 'F...",146.0,fictional,anime,Millennium War Aigis,"{'Birthday': nan, 'Age':nan, 'Gender': nan, 'B..."
3,Shinsuke Takasugi,170.0,fictional,anime,Gintama THE FINAL,"{'Birthday': 'Aug 10', 'Age': '20s', 'Gender':...",NaN,NaN,NaN,NaN,NaN
4,Kotarou Katsura,175.0,fictional,anime,Gintama THE FINAL,"{'Birthday': 'Jun 26', 'Age': '20s', 'Gender':...",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7605,Diana Peschka Holly Eryngii,NaN,NaN,NaN,NaN,NaN,156.0,fictional,anime,Princess Holiday,"{'Birthday': nan, 'Age':nan, 'Gender': nan, 'B..."
7606,Harue Kasuga,NaN,NaN,NaN,NaN,NaN,169.0,fictional,anime,We Don't Have Wings ~ Prelude ~,"{'Birthday': nan, 'Age':nan, 'Gender': nan, 'B..."
7607,Harue Kasuga,NaN,NaN,NaN,NaN,NaN,169.0,fictional,anime,We Don't Have Wings ~ Prelude ~,"{'Birthday': nan, 'Age':nan, 'Gender': nan, 'B..."
7608,Riako Mihara,NaN,NaN,NaN,NaN,NaN,164.0,fictional,anime,XX na Kanojo no Tsukurikata,"{'Birthday': nan, 'Age':nan, 'Gender': nan, 'B..."
7609,Toru Nayuki,NaN,NaN,NaN,NaN,NaN,160.0,fictional,anime,High School Star Musical,"{'Birthday': nan, 'Age':nan, 'Gender': nan, 'B..."

In [23]:
mergeddf

,name,height,category,subcat1,subcat2,extras
0,Kagura,155.0,fictional,anime,Gintama THE FINAL,"{'Birthday': 'Nov 3', 'Age': nan, 'Gender': 'F..."
1,Sanji,177.0,fictional,anime,ONE PIECE,"{'Birthday': 'Mar 2', 'Age': nan, 'Gender': 'M..."
17,Nami,169.0,fictional,anime,ONE PIECE,"{'Birthday': 'Jul 3', 'Age': nan, 'Gender': 'F..."
33,Usopp,174.0,fictional,anime,ONE PIECE,"{'Birthday': 'Apr 1', 'Age': '17-19', 'Gender'..."
49,Brook,266.0,fictional,anime,ONE PIECE,"{'Birthday': 'Apr 3', 'Age': '88-90', 'Gender'..."
...,...,...,...,...,...,...
842,Mikan Yuuki,149.0,fictional,anime,To LOVERu Darkness 2nd Specials,"{'Birthday': 'Nov 3', 'Age': nan, 'Gender': 'F..."
858,Risa Momioka,167.0,fictional,anime,To LOVERu Darkness 2nd Specials,"{'Birthday': 'Jul 21', 'Age': nan, 'Gender': '..."
874,Yui Kotegawa,162.0,fictional,anime,To LOVERu Darkness 2nd Specials,"{'Birthday': 'May 3', 'Age': '16', 'Gender': '..."
890,Nana Astar Deviluke,150.0,fictional,anime,To LOVERu Darkness 2nd Specials,"{'Birthday': 'Aug 8', 'Age': '14', 'Gender': '..."
906,Cornelia,168.0,fictional,anime,Akame ga Kill,"{'Birthday': nan, 'Age': nan, 'Gender': 'Femal..."

In [41]:
newdf = pd.read_csv('merged_file.csv')

In [42]:
newdf

,name,height,category,subcat1,subcat2,extras
0,All Might,220.0,fictional,anime,My Hero Academia (Series),"{'Birthday': nan, 'Age':nan, 'Gender': nan, 'B..."
1,Kuugo Sakamata,202.0,fictional,anime,My Hero Academia (Series),"{'Birthday': nan, 'Age':nan, 'Gender': nan, 'B..."
2,Endeavor,195.0,fictional,anime,My Hero Academia (Series),"{'Birthday': nan, 'Age':nan, 'Gender': nan, 'B..."
3,Inasa Yoarashi,190.0,fictional,anime,My Hero Academia (Series),"{'Birthday': nan, 'Age':nan, 'Gender': nan, 'B..."
4,Yawara Chatora,190.0,fictional,anime,My Hero Academia (Series),"{'Birthday': nan, 'Age':nan, 'Gender': nan, 'B..."
...,...,...,...,...,...,...
23060,zuri adele,170.0,celebrity,actress,tv,"{'net_worth': None, 'gender': None, 'nationali..."
23061,zuri hall,168.0,celebrity,show,tv,"{'net_worth': None, 'gender': None, 'nationali..."
23062,Ã¡lvaro soler,165.0,celebrity,music_artist,NaN,"{'net_worth': None, 'gender': None, 'nationali..."
23063,Ã³lafur darri Ã³lafsson,191.0,celebrity,actor,NaN,"{'net_worth': None, 'gender': None, 'nationali..."
23064,Ãºrsula corberÃ³,163.0,celebrity,actress,tv,"{'net_worth': None, 'gender': None, 'nationali..."

In [43]:
newdf.to_json('finalDAta.json', orient='records')