In [1]:
import pandas as pd

In [2]:
df = pd.read_json('animefinal.json')
df.head()

                name Birthday    Age  Gender Blood Type Height
0     Gintoki Sakata   Oct 10     27    Male          B    177
1  Shinpachi Shimura   Aug 12  16-18    Male       None    166
2             Kagura    Nov 3   None  Female       None    155
3  Shinsuke Takasugi   Aug 10    20s    Male       None    170
4    Kotarou Katsura   Jun 26    20s    Male         AB    175

In [3]:
df.isnull().sum()

name              0
Birthday      22268
Age           22891
Gender        14554
Blood Type    25505
Height        25267
dtype: int64

['177',
 '166',
 '155',
 '170',
 '175',
 '168',
 '170',
 '166',
 '170',
 'Human\nHeight',
 '184',
 '168',
 '181',
 '169',
 '175',
 'Gemini\nHeight',
 '166',
 'Sagittarius Height',
 '168',
 '178',
 '165',
 'February 10 Zodiac',
 '88',
 '158',
 'Virgo Height',
 '175',
 '8 January Zodiac sign',
 '133',
 'Scorpio Height',
 'Leo Height',
 '158',
 '147',
 '170',
 '170',
 '163',
 '160',
 '188',
 '185',
 '158',
 '192',
 '153',
 '175',
 '178',
 '145',
 '170',
 '172',
 '168',
 '183',
 '158',
 '171',
 '193',
 '154',
 '187',
 '176',
 '185',
 '177',
 '159',
 '164',
 '165',
 '165',
 '153',
 '158',
 '170',
 '156',
 '177',
 '160',
 '151',
 '164',
 '163',
 '161',
 '143',
 '167',
 'Human\nHeight',
 'Human Quincy\nHeight',
 'Shinigami\nHeight',
 'Human\nHeight',
 '183',
 '133',
 '197',
 'Shinigami\nHeight',
 '188',
 '180',
 'Shinigami\nHeight',
 'Shinigami\nHeight',
 '176',
 '176',
 '186',
 '185',
 '151',
 '173',
 '181',
 '174',
 'April 1st Zodiac sign',
 '179',
 '186',
 '164',
 '175',
 '169',
 '288',
 '187',
 '156',
 '223',
 '186',
 '153',
 'Human/Fullbringer\nHeight',
 '165',
 '161',
 'Amanto\nHeight',
 '155',
 '140',
 '138',
 '172',
 '996\nHeight',
 '172',
 '176',
 '170',
 '165',
 '180',
 '161',
 '179',
 '183',
 '151',
 '158',
 '172',
 '172',
 '188',
 '178',
 '177',
 '90',
 '169',
 '174',
 '266',
 '301',
 '192',
 '169',
 '199',
 '266',
 '198',
 '185',
 '207',
 '240',
 '253',
 '170',
 '666',
 '298',
 '209',
 'Chapter 1 Episode 4\nHeight',
 '274',
 '256',
 '241',
 '220',
 '257',
 '173',
 'Chapter 42 Episode 19\nHeight',
 'Chapter 42 Episode 20\nHeight',
 '252',
 '177',
 '197',
 '2130',
 '207',
 '218',
 '199',
 '193',
 '115',
 '200',
 '689',
 'Chapter 449 Episode 343\nHeight',
 '160',
 '183',
 '287',
 '189',
 '203',
 '355',
 '340',
 '342',
 '340',
 '182',
 '183',
 'Thriller Bark Pirates Dr. Hogback\nHeight',
 '169',
 '130',
 '176',
 '202',
 '212',
 '179',
 '218',
 '191',
 '191',
 '188',
 'Heart Pirates\nHeight',
 'Ukkari HotSpring Island Gods Army former\nOccupations',
 'CP9 former\nOccupations',
 '195',
 '470',
 'On Air Pirates\nOccupations',
 '233',
 'Fire Tank Pirates Big Mom Pirates\nOccupations',
 'Hawkins Pirates Beasts Pirates\nOccupations',
 '388',
 'Kuja Kuja Pirates\nOccupations',
 'Kuja Kuja Pirates\nOccupations',
 'Marines\nOccupations',
 '166',
 '127',
 '216',
 '239',
 '228',
 '183',
 '194',
 '212',
 '187',
 'Chapter 234 Episode 151\nHeight',
 '186',
 '206',
 'Chapter 621 Episode 415\nHeight',
 '1600',
 '309',
 '218',
 '340',
 '255',
 '187',
 '187',
 '53\nHeight',
 '214',
 '140',
 '120',
 '179',
 '177',
 '251',
 'Chapter 109 Episode 65\nHeight',
 '328',
 '573',
 'Blackbeard Pirates Impel Down former\nHeight',
 '505',
 '215',
 '691',
 '228',
 'Chapter 598 Episode 518\nAffiliations',
 '122',
 '245',
 'Chapter 598\nAffiliations',
 '604',
 '499',
 '1220',
 '352',
 '435',
 '710',
 '202',
 'Chapter 598 Episode 517\nHeight',
 'Chapter 598 Episode 517\nAffiliations',
 'Chapter 598 Episode 517\nAffiliations',
 'Chapter 598 Episode 518\nAffiliations',
 '880',
 '238',
 '227',
 '295',
 'Chapter 671 Episode 597\nHeight',
 '692',
 '270',
 'Bartolomeo\nAge',
 'Cavendish\nAge',
 '171',
 'Chapter 761 Episode 700\nHeight',
 '509',
 '298',
 'Chapter 593 Episode 510\nHeight',
 '161',
 'Chapter 809 Episode 756\nHeight',
 '511',
 '110',
 '190',
 '214',
 'Vinsmoke Reiju\nAffiliations',
 '194',
 '186',
 '272',
 '185',
 '613',
 '612',
 '170',
 '89',
 '350',
 '166',
 '305',
 '244',
 '382',
 '171',
 '336',
 '820',
 '263',
 '347',
 '260',
 '489',
 '349',
 '311',
 '240',
 '145',
 '242',
 '375',
 '731',
 '215',
 '525',
 '280',
 '440',
 '221',
 '68',
 '190',
 '174',
 '188',
 '184',
 'Nekoma High School\nHeight',
 '181',
 '155',
 '150',
 '160',
 '159',
 '167',
 '158',
 '175',
 '169',
 '170',
 '165',
 '153',
 '164',
 '1645',
 '198',
 '177',
 '176',
 '160',
 '151',
 '167',
 '156',
 '155',
 '161',
 '133',
 '189',
 '154',
 '175',
 '142',
 '180',
 '180',
 '175',
 '167',
 '176',
 '173',
 '160',
 '175',
 '165',
 '200',
 '182',
 '165',
 '197',
 '163',
 '151',
 'Unknown\nHeight',
 '168',
 '187',
 '3rd Year\nHeight',
 '3rd Year\nHeight',
 '2nd year\nHeight',
 'Human\nHeight',
 'Human\nHeight',
 '190',
 '160',
 'Human\nHeight',
 '184',
 'Human\nHeight',
 'Human\nHeight',
 '173',
 'Human\nHeight',
 '180',
 'Human\nHeight',
 'Human\nHeight',
 '185',
 '175',
 '176',
 'Johzenji\nHeight',
 '170',
 '154',
 '158',
 '152',
 '178',
 'Prima\nHeight',
 'Aqua\nHeight',
 'Prima\nPlace of Birth',
 '145',
 'Prima\nBirth Place',
 '185',
 '167',
 '120',
 '124',
 '133',
 '154',
 '165',
 '165',
 '162',
 'Human\nHeight',
 'Human\nWeight',
 '163',
 '155',
 '149',
 '155',
 '110',
 '179',
 '166',
 '183',
 '178',
 '173',
 '170',
 '168',
 '182',
 '175',
 '194',
 '155',
 '155',
 '165',
 '167',
 '171',
 '160',
 'Australian\nBoxing Style',
 'Demon\nHeight',
 '180',
 '178',
 '190',
 '175',
 '182',
 '158',
 '191',
 '160',
 'January 31 Height',
 '212',
 '184',
 '157',
 '196',
 '173',
 '181',
 'August 29\nHeight',
 '183',
 '163',
 '168',
 'Aries\nSpecies',
 '5 Mar / Pisces Height',
 '21 June Zodiac sign',
 '168',
 '4 March Zodiac sign',
 '24 December Zodiac sign',
 '213',
 '167',
 '160',
 '184',
 '156',
 '158',
 '162',
 '164',
 '183',
 '146',
 'Human\nHeight',
 '172',
 '150',
 '176',
 '157',
 '160',
 '8th Year University student\nKaruta Society',
 'February 28th Pisces Height',
 '158',
 '174',
 '172',
 '178',
 '163',
 '191',
 '195',
 '185',
 '195',
 '195',
 '178',
 '188',
 '185',
 '175',
 '167',
 '181',
 '186',
 '170',
 '168',
 '181',
 '189',
 '174',
 '158',
 '166',
 '160',
 '185',
 '191',
 '175',
 '182',
 '176',
 '184',
 '150',
 '164',
 '173',
 '154',
 '154',
 '140',
 '172',
 '162',
 '150',
 '179',
 '179',
 'Kyoto Japan\nHeight',
 '175',
 '174',
 '180',
 '189',
 '123',
 '180',
 '172',
 '165',
 '196',
 '178',
 '182',
 '190',
 '192',
 '157',
 '160',
 '168',
 '167',
 '179',
 '166',
 '160',
 '173',
 '190',
 '158',
 '160',
 '176',
 '157',
 '500\nHeight',
 '167',
 '159',
 '175',
 '168',
 '140',
 '174',
 '156',
 '160',
 '154',
 '157',
 '150',
 '165',
 '158',
 '154',
 '172',
 '162',
 '150',
 '178',
 '173',
 '189',
 '210',
 '180',
 '184',
 '173',
 '152',
 '155',
 '156159',
 '158160',
 '156158',
 '175180',
 '155157',
 '170175',
 '180',
 '175',
 '184',
 '146',
 '172',
 'Doton\nHeight',
 '170',
 '165',
 '1794',
 'Pisces\nHeight',
 '54002\nHoroscope',
 '165',
 '195',
 '175',
 '181',
 '168',
 '150',
 '166',
 '172',
 '176',
 '156',
 '179',
 '220',
 '183',
 '173',
 '170',
 '108',
 '159',
 '168',
 '177',
 '154',
 '158',
 '187',
 '162',
 '181',
 '157',
 '177',
 '174',
 '166',
 '195',
 '176',
 '164',
 '168',
 '128',
 '172',
 '170',
 '176',
 '183',
 '160',
 '185',
 '176',
 '180',
 '85',
 '193',
 '200',
 '190',
 '175',
 '178',
 '165',
 '215',
 'Alien\nHeight',
 '177',
 '178',
 '164',
 '172',
 '170',
 '162',
 '175',
 '165',
 '140',
 '192',
 '178',
 '181',
 '181',
 '172',
 '170',
 '167',
 '172',
 '170',
 '176',
 '178',
 '167',
 '165',
 '160',
 '158',
 'Aquarius\nHeight',
 '157',
 '158',
 '171',
 '156',
 '156',
 '178',
 '153',
 '184',
 '179',
 '1st yr\nHeight',
 '197',
 '178',
 '3rd Year Jersey Number',
 '6 Height',
 '15 Height',
 'Human / God\nHeight',
 '190',
 'Tengu Yokai\nHeight',
 'Yokai\nHeight',
 '152',
 '175',
 '175',
 '176',
 '188',
 '177',
 '190',
 '187',
 '185',
 '184',
 '190',
 '171',
 '163',
 '147',
 '165',
 '167',
 '168',
 '195',
 '180',
 '178',
 '163',
 '175',
 '179',
 '170',
 '180',
 '179',
 '140',
 '176',
 '187',
 '170',
 '175',
 '177',
 '166',
 '6\nInitial Age physical',
 '180',
 '155',
 '145',
 '180',
 '163',
 '167',
 '180',
 '23\nBirthday',
 '171',
 'Human\nHeight',
 'Elf\nHeight',
 'Pallum\nHeight',
 'Human\nHeight',
 'Renard\nHeight',
 'Human\nHeight',
 'God\nHeight',
 '162',
 'Half Elf\nHeight',
 'Human\nHeight',
 'Human\nHeight',
 'God\nHeight',
 'HumanHeight',
 'Human\nHeight',
 'God\nHeight',
 'Amazoness Height',
 'ChienthropeHeight',
 'God\nHeight',
 'Human\nHeight',
 'Cat People\nHeight',
 'Cat People\nHeight',
 'Human\nHeight',
 'Xenos\nHeight',
 'Half DwarfHeight',
 'XenosHeight',
 'XenosHeight',
 '172',
 '161',
 '173',
 '171',
 '180',
 '170',
 '169',
 '183',
 '172',
 '177',
 '181',
 '142',
 'Human\nAffinity',
 '197',
 '19\nHeight',
 '188',
 '176',
 '158',
 '167',
 '175',
 '160',
 '178',
 '16\nHeight',
 '180',
 '185',
 '183',
 '188',
 '185',
 'Yugao Uzuki\nAge',
 '170',
 'LightGray\nEyes',
 '163',
 '168',
 '165',
 '176',
 '154',
 '169',
 '172',
 '176',
 '157',
 '174',
 '163',
 '161',
 '173',
 '171',
 '187',
 '174',
 '178',
 '177',
 '160',
 '183',
 '175',
 '173',
 '160',
 '160',
 '178',
 '157',
 'Pisces\nHeight',
 '174',
 '162',
 '164',
 '185',
 '178',
 '179',
 '183',
 'Human\nHeight',
 'Vampire\nHeight',
 '163',
 '169',
 '174',
 '158',
 '172',
 '170',
 '163',
 '168',
 '176',
 '150',
 '173',
 '154',
 '168',
 '150',
 '180',
 '176',
 '170',
 '190',
 '178',
 '146',
 '183',
 'Human\nBirthday',
 '190',
 '156',
 '189',
 '174',
 '195',
 '178',
 '170',
 '192',
 '161',
 '208',
 '178',
 '181',
 '193',
 '175',
 '180',
 '193',
 '179',
 '198',
 '176',
 'Yousen\nPosition',
 'Yousen High\nNumber',
 '176',
 '170',
 '175',
 '192',
 '190',
 '180',
 '180',
 '188',
 '158',
 '157',
 '163',
 '157',
 '145',
 '164',
 '158',
 '163',
 '158',
 '156',
 '165',
 '183',
 '173',
 '175',
 '180',
 '173',
 '190',
 '183',
 '170',
 '176',
 '185',
 '174',
 '161',
 '152',
 '153',
 '160',
 '169',
 '168',
 '155',
 '163',
 '148',
 '168',
 '160',
 '176',
 '180',
 '150',
 '159',
 '158',
 '170',
 '163',
 '161',
 '145',
 '165',
 '145',
 '171',
 '145',
 '157',
 '146',
 '163',
 '155',
 '135',
 '140',
 '160',
 'Aries\nHeight',
 'Taurus\nHeight',
 '164',
 '158',
 '143',
 '180',
 'Taurus\nHeight',
 '168',
 '140',
 '168',
 '162164',
 '173',
 '172',
 '165',
 '158',
 '165',
 '150',
 '160',
 '205',
 '175',
 '321',
 '210',
 '173',
 '191',
 '185',
 'Human\nHeight',
 '175',
 '1314 years Height',
 '165',
 '16 Years Height',
 '168',
 'Orange\nEyes',
 'Vampire\nAge',
 '153',
 'Bet Anime Daleth Manga\nInherited Magic',
 'Bet Anime Daleth Manga\nInherited Magic',
 'Beth Anime Daleth Manga\nInherited Magic',
 'Demon\nRank',
 'Demon\nCurrent Rank',
 'Demon\nBirthday',
 '195',
 '190',
 '190',
 'Zayin official\nInherited Magic',
 '192',
 '168',
 '1st Year Highschool Student\nHeight',
 '1st Year Higschool Student\nHeight',
 '183',
 '4th 6th\nHeight',
 '140',
 '136',
 '153',
 '171',
 '173',
 '175',
 '170',
 '178',
 '182',
 '184',
 '178',
 '159',
 '159',
 '159',
 '159',
 '159',
 '180',
 '187',
 'Daisuke Narumi Height',
 'Height',
 'Saiyan\nDate of Birth',
 '733 Age\nHeight',
 'Height',
 'Half Saiyan HalfHuman\nHeight',
 'Birth Year',
 '150',
 'Unconfirmed\nBirthplace',
 '194',
 '170',
 '168',
 '168',
 '178',
 '176',
 '158',
 'God\nHeight',
 'Hanyou Half Phantom Half Human\nHeight',
 'April 8 Buddhas birthday\nStarsign',
 'Honey\nHeight',
 'Mori\nKnown relatives Mitsukuni Haninozuka cousin Satoshi Morinozuka younger brother\nSign',
 ...]

In [13]:
urls = pd.read_csv('urls.csv')
urls

                                                    URL
0                      /anime/114129/Gintama-THE-FINAL/
1                                 /anime/20996/Gintama/
2                /anime/124194/Fruits-Basket-The-Final/
3     /anime/5114/Hagane-no-Renkinjutsushi-FULLMETAL...
4     /anime/125367/Kaguyasama-wa-Kokurasetai-Ultra-...
...                                                 ...
1795  /anime/4182/DARKER-THAN-BLACK-Kuro-no-Keiyakus...
1796  /anime/2454/Kimagure-OrangeRoad-Ano-Hi-ni-Kaer...
1797                /anime/2265/Transformers-the-Movie/
1798                       /anime/1946/Ashita-no-Nadja/
1799                       /anime/1577/Taiho-Shichauzo/

[1800 rows x 1 columns]

In [14]:
# Create new columns for "id" and "anime name"
urls['id'] = urls['URL'].str.extract(r'/(\d+)/')
urls['anime name'] = urls['URL'].str.extract(r'/\d+/(.+)/')

# Drop the "URL" column
urls.drop(columns=['URL'], inplace=True)

# Remove hyphens from the "anime name" column
urls['anime name'] = urls['anime name'].str.replace('-', ' ')

In [15]:
urls

          id                                         anime name
0     114129                                  Gintama THE FINAL
1      20996                                            Gintama
2     124194                            Fruits Basket The Final
3       5114       Hagane no Renkinjutsushi FULLMETAL ALCHEMIST
4     125367           Kaguyasama wa Kokurasetai Ultra Romantic
...      ...                                                ...
1795    4182  DARKER THAN BLACK Kuro no Keiyakusha  Sakura n...
1796    2454             Kimagure OrangeRoad Ano Hi ni Kaeritai
1797    2265                             Transformers the Movie
1798    1946                                    Ashita no Nadja
1799    1577                                    Taiho Shichauzo

[1800 rows x 2 columns]

In [16]:
urls.to_csv('processed_anime_data.csv', index=False)

In [17]:
import pandas as pd
anime_data = pd.read_csv('processed_anime_data.csv')
anime_data.head()

       id                                    anime name
0  114129                             Gintama THE FINAL
1   20996                                       Gintama
2  124194                       Fruits Basket The Final
3    5114  Hagane no Renkinjutsushi FULLMETAL ALCHEMIST
4  125367      Kaguyasama wa Kokurasetai Ultra Romantic

In [19]:
anime = pd.read_csv('anime.csv')

In [20]:
anime.head()

       ID  Node ID          Node Name
0  114129      672     Gintoki Sakata
1  114129      673  Shinpachi Shimura
2  114129      674             Kagura
3  114129     2948  Shinsuke Takasugi
4  114129     1533    Kotarou Katsura

In [21]:
anime['name'] = anime['Node Name']
anime

           ID  Node ID          Node Name               name
0      114129      672     Gintoki Sakata     Gintoki Sakata
1      114129      673  Shinpachi Shimura  Shinpachi Shimura
2      114129      674             Kagura             Kagura
3      114129     2948  Shinsuke Takasugi  Shinsuke Takasugi
4      114129     1533    Kotarou Katsura    Kotarou Katsura
...       ...      ...                ...                ...
27729    1946    19896   Count Waltmüller   Count Waltmüller
27730    1577     3726  Miyuki Kobayakawa  Miyuki Kobayakawa
27731    1577     3727  Natsumi Tsujimoto  Natsumi Tsujimoto
27732    1577     3728       Ken Nakajima       Ken Nakajima
27733    1577    12404    Yoriko Nikaidou    Yoriko Nikaidou

[27734 rows x 4 columns]

In [22]:
anime.drop(columns=['Node Name'], inplace=True)

In [27]:
anime['id'] = anime['ID']
anime.drop(columns=['ID'], inplace=True)

In [28]:
anime
# print(df)
# anime_data

       Node ID               name      id
0          672     Gintoki Sakata  114129
1          673  Shinpachi Shimura  114129
2          674             Kagura  114129
3         2948  Shinsuke Takasugi  114129
4         1533    Kotarou Katsura  114129
...        ...                ...     ...
27729    19896   Count Waltmüller    1946
27730     3726  Miyuki Kobayakawa    1577
27731     3727  Natsumi Tsujimoto    1577
27732     3728       Ken Nakajima    1577
27733    12404    Yoriko Nikaidou    1577

[27734 rows x 3 columns]

In [30]:
new_anime = pd.merge(anime_data, anime, on='id')
new_anime

           id         anime name  Node ID               name
0      114129  Gintama THE FINAL      672     Gintoki Sakata
1      114129  Gintama THE FINAL      673  Shinpachi Shimura
2      114129  Gintama THE FINAL      674             Kagura
3      114129  Gintama THE FINAL     2948  Shinsuke Takasugi
4      114129  Gintama THE FINAL     1533    Kotarou Katsura
...       ...                ...      ...                ...
27729    1946    Ashita no Nadja    19896   Count Waltmüller
27730    1577    Taiho Shichauzo     3726  Miyuki Kobayakawa
27731    1577    Taiho Shichauzo     3727  Natsumi Tsujimoto
27732    1577    Taiho Shichauzo     3728       Ken Nakajima
27733    1577    Taiho Shichauzo    12404    Yoriko Nikaidou

[27734 rows x 4 columns]

In [32]:
final_anime = pd.merge(new_anime, df, on='name')
final_anime

,id,anime name,Node ID,name,Birthday,Age,Gender,Blood Type,Height
0,114129,Gintama THE FINAL,672,Gintoki Sakata,Oct 10,27,Male,B,177
1,114129,Gintama THE FINAL,673,Shinpachi Shimura,Aug 12,16-18,Male,None,166
2,114129,Gintama THE FINAL,674,Kagura,Nov 3,None,Female,None,155
3,114129,Gintama THE FINAL,2948,Shinsuke Takasugi,Aug 10,20s,Male,None,170
4,114129,Gintama THE FINAL,1533,Kotarou Katsura,Jun 26,20s,Male,AB,175
...,...,...,...,...,...,...,...,...,...
27026,1946,Ashita no Nadja,19896,Count Waltmüller,None,None,None,None,None
27027,1577,Taiho Shichauzo,3726,Miyuki Kobayakawa,"Apr 7, 1976",26,Female,None,None
27028,1577,Taiho Shichauzo,3727,Natsumi Tsujimoto,"Aug 13, 1975",None,Female,O,None
27029,1577,Taiho Shichauzo,3728,Ken Nakajima,None,None,Male,None,None
27030,1577,Taiho Shichauzo,12404,Yoriko Nikaidou,None,23,Female,None,None

In [33]:
final_anime.drop(columns=['id', 'Node ID'], inplace=True)

In [35]:
#now i want to create a new column name category and put fictional value to it
final_anime['category'] = 'fictional'

In [37]:
final_anime.to_csv('final_anime.csv', index=False)